.c-input{
  display: flex;
  align-items: center;

  width: 100%;
  min-width: 290px;

  height: 3rem;
  border: 1px solid var(--color-primary-default);
  background: var(--background-color-primary);
  border-radius: 4px;
}
.c-input__input {
  margin: 0 1rem ;
  width: 100%;
  border: none;
  line-height: 10px;
  color: var(--color-gray-darker);
}
.c-input__input:focus{
  outline: none;
}