.bt{
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 219px;
  width: 100%;
  height: 40px;

  background: var(--button-color);
  border-radius: 4px;

  font: 500 14px Roboto;
  color: var(--background-color-primary) 
}
.bt:hover{
  cursor: pointer;
}